@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-custom-black: #333333;
  --color-custom-violet1: #b288c0;
  --color-custom-violet2: #9a48d0;
  --color-custom-green: #7bc950;
}
